/*body{ margin: 0px; }
*/
html{
    height: 100%;
}

body{
    /* background-color: #CDCDCD; */
    background: url("../img/Ridge-Design-Website-Design-Background.jpg")no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

ul li {
    list-style-type: none;
}

.sub-content-font{
    font-family: -apple-system,BlinkMacSystemFont, "Times New Roman", "Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

.white-background-transparent{
    background-color: rgba(255, 255, 255, 0.5);
    min-height: 100%;
}

.white-background-transparent #logos-development-tools li {
    display:inline-block;
    margin: 5px;
}

.footer-transparent {
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0;
}

#career_page{
    background-color: rgba(255, 255, 255, 0.80);
    padding: 10px;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
}

.career_page_class{
    background-color: rgba(255, 255, 255, 0.80);
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
    margin-right: 0px;
}

#content-name{
    height: 100%;
    position: relative;
}

#content-name #header-name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    
    .divider-portfolio, .divider-hobbies{
        display: block
    }
}

@media only screen and (min-width: 768px) {
    .divider-portfolio, .divider-hobbies{
        display: none;
    }
}

.card-data-height{
    min-height: 327px;
}

#content-navbar{
    /* background-color: #4285F4; */
    width: 100%;
    text-align: center;
}
#content-navbar li{
    display: inline-block;
    list-style-type: none;
    margin-right: 5px;
}

.header-name{
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}