/*body{ margin: 0px; }
*/
html,
body,
header,
.view {
    height: 100%;
}

body{
    /* background-color: #CDCDCD; */
    background: url("../img/Ridge-Design-Website-Design-Background.jpg")no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

ul li {
    list-style-type: none;
}

.white-background-transparent{
    background-color: rgba(255, 255, 255, 0.5);
}

.white-background-transparent #logos-development-tools li {
    display:inline-block;
    margin: 5px;
}

#right-side-collumn-background{
    background-color: rgba(255, 255, 255, 0.3);
}

#content-name{
    height: 100%;
    position: relative;
}

#content-name #header-name {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-weight: bold;
  }

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #4285F4;
}



@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}

.card-data-height{
    height: 300px;
}